.square {
  display: flex;
  width: 150px;
  height: 150px;
  text-align: center;
  color: red;
  /* padding: 10px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  margin: 10px;
  border: 3px solid rgb(236, 230, 222);
  font-size: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* align-self: auto; */
}